.controls {
    width: 100%;
    height: auto;

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        float: right;
        width: 25%;
        height: 100%;
        padding: 24px;
        gap: 24px;


        .listtitle {
            display: flex;
            flex-direction: column;
            gap: 12px;
        }

        .dispositionlist {
            list-style-type: none;

            li {
                display: flex;
                gap: 12px;
            }

            .dispositionindicator {
                height: 24px;
                width: 24px;
            }
        }

        .playercount {
            display: flex;
            align-items: center;
            gap: 8px;

            label {
                font-size: 18px;
                font-weight: 500;
            }

            input {
                background: none;
                border: none;
                font-size: 18px;
                width: auto;
                height: 36px;
                padding: 4px;

                &:focus-visible {
                    outline: none;
                }
            }
        }
    }

    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        padding: 24px;
    }
}
