.skeletonTile {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    height: 180px;
    width: 384px;
    cursor: pointer;
    border: 2px dashed #e0e0e0;
}

.skeletonTitle {
  width: 60%;
  height: 10px;
  border-radius: 5px;
  background: #e0e0e0;
}

.skeletonLine {
  width: 80%;
  height: 7px;
  border-radius: 4px;
  background: #e0e0e0;
  margin: 14px 0;
}

.skeletonSelect {
  width: 50%;
  height: 10px;
  border-radius: 5px;
  background: #e0e0e0;
  margin-top: 24px;
}

.content {
  li {
      list-style-type: none;
      margin-bottom: 24px;
  }
}
